@import '../../App.scss';

//header
#header {
  &-home {
    background: $bg-image no-repeat center 1% / cover;
    height: 100vh;
    color: $green-color;
    border-bottom: 3px solid red;
  }
}
//Tablets and smaller
@media(max-width: 800px) {
  #header-home {
    height: 30rem;
    .header-content {
      padding-top: 5rem;
    }
  }
}
// Landscape
@media(max-height: 580px) {
  #header-home {
    .header-content {
      padding-top: 3rem;
      h1 {
        font-size: 2rem;
      }
    }
  }
}
@media(max-height: 330px) {
  #header-home {
    .header-content {
      h1 {
        font-size: 2rem;
      }
    }
  }
}
